*.sqlite
TestConsoleSoln/.vs/TestConsoleSoln/v16/.suo
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.pdb
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.csprojAssemblyReference.cache
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.dll
*.pdb
*.dll
*.cache
