*.sqlite
TestConsoleSoln/.vs/TestConsoleSoln/v16/.suo
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.pdb
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.csprojAssemblyReference.cache
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.dll
*.pdb
*.dll
*.cache
.vs/VSWorkspaceState.json
.vs/CTCI_Problems/v16/.suo
TestConsoleSoln/.vs/TestConsoleSoln/DesignTimeBuild/.dtbcache.v2
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.GeneratedMSBuildEditorConfig.editorconfig
TestConsoleSoln/TestConsole/bin/Debug/netcoreapp3.1/TestConsole.exe
TestConsoleSoln/TestConsole/bin/Debug/netcoreapp3.1/TestConsole.runtimeconfig.dev.json
TestConsoleSoln/TestConsole/obj/project.assets.json
TestConsoleSoln/TestConsole/obj/TestConsole.csproj.nuget.dgspec.json
TestConsoleSoln/TestConsole/obj/TestConsole.csproj.nuget.g.props
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/apphost.exe
TestConsoleSoln/TestConsole/obj/Debug/netcoreapp3.1/TestConsole.csproj.FileListAbsolute.txt
